body{ 
   background-color: rgb(151, 189, 176);
    font-family: Arial, sans-serif;
    margin-top: 50px;
    text-align: center;
  }
  
  .todo-container{
    background: rgb(41, 33, 33);
    width: 400px;
    padding: 20px;
    color: white;
    border-radius: 15px;
  }


  
  #name{
    width: 200px;
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
    border-color: black;
    border-style: solid;
  }
   
  #input-button{
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
    padding: 7px 15px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #000000;
    text-align: none;
    margin: 15px 0px 0px;
  }
  
  hr{
    border: 1px solid #000000;
  }
  
  #header{
    margin: 5px;
    font-size: 20px;
    text-align: center;
  }
  
  h1{
    margin-bottom: 20px; 
    font-size: 60px;
  }
  
  #input-button:hover {
    background-color: #747474; 
  } 
  
  ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align:left;
  }
  
  li {
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 10px;
  }
  
  .edit-btn, .delete-btn{
    float: right;
    color:rgb(233, 24, 66);
    cursor: pointer;
    margin: 3px 5px;
    border: none;
    padding: 3px 5px;
    background: none;  
  } 
  
 